<div id="myModal" class="modal">
        
    <div class="modal-content">
        <div class="modal-header">
            <h2>Read</h2>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            
        </div>
    </div>

</div>